name: Update Country RSCs

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Make scripts executable
        run: chmod +x scripts/*.sh

      - name: Generate all country RSCs
        run: ./scripts/generate_all_countries_rsc.sh countries.txt generated

      - name: Commit & Push if changed
        run: |
          if git diff --quiet; then
            echo "No changes."
            exit 0
          fi

          git config user.name "Mohammad"
          git config user.email "mohammadsaadati74@gmail.com"

          git add generated/*.rsc countries.txt
          git commit -m "chore: update country RSC files"
          git push
